/* You can add global styles to this file, and also import other style files */

@import '../../../libs/frontend-auth/src/lib/styles/snackbar.scss';
@import '../../../libs/frontend-auth/src/lib/styles/material-overrides.scss';

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
